.form-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff6600;
  color: white;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

button:hover {
  background-color: #e65a00;
}
