:root {
  --primary: #0074cc;
  --primary-hover: #005fa3;
  --danger: #d72638;
  --bg: #f6faff;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  margin: 0;
  padding: 0;
  color: #0f1c39;
}

.page {
  width: 95%;
  max-width: 1250px;
  margin: auto;
  padding: 30px 0;
}

h1.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.card {
  background: #fff;
  padding: 22px;
  border-radius: 12px;
  margin-top: 25px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}

.card-header {
  margin-bottom: 15px;
}

.form-grid {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.form-field {
  flex: 1;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 600;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cfd7e3;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: var(--primary);
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary {
  background: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--primary-hover);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #fff;
  font-size: 16px;
}

th,
td {
  text-align: left;
  padding: 14px;
  border-bottom: 1px solid #e6eef7;
}

thead {
  background: #e7f3ff;
  font-weight: bold;
}

.short-url-btn {
  background: none;
  border: none;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary);
}

.short-url-btn:hover {
  text-decoration: none;
}

.delete-btn {
  color: var(--danger);
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 600;
}

.delete-btn:hover {
  text-decoration: underline;
}

.truncate {
  max-width: 350px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
